.search-form .form-group input {
    border: none;
}
.search-form .form-group {
    position: relative;
}

.search-form .form-group input {
    padding-right: 50px;
    font-size: 14px;
    border: none;
}

.sidebar-box {
    margin-bottom: 30px;
    padding: 10px;
    font-size: 15px;
    width: 100%;
}

.search-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}