.title {
    font-size: 25px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 22px;
}
.title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    width: 74px;
    background: #4dbf1c;
}