<footer class="footer">
  <div class="container">
      <div class="row">
          <nav class="footer-nav col-6">
              <ul>
                  <li><a href="#">GL4</a></li>
                  <li><a href="http://www.insat.rnu.tn/Fr/accueil_46_34">INSAT Website</a></li>
                  <li><a href="https://www.facebook.com/insat.rnu.tn">INSAT Facebook</a></li>
              </ul>
          </nav>
          <div class="credits ml-auto col-6">
              <span class="copyright">
                  © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by GL4 INSAT
              </span>
          </div>
      </div>
  </div>
</footer>
