<div class="page-header" data-parallax="true" style="background-image: url('/assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
        <div class="row">
          <div class="col-11 mr-auto ml-auto">
              <h2 class="title">Let's talk about TUTORHUB</h2>
              <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
              <br>
              <button (click)="navigateToSection('details')" class="btn btn-danger btn-round">See Details</button>
              <button [routerLink]="[ '/contactus']" class="btn btn-danger btn-round">Contact Us</button>
          </div>
      </div>
      </div>
  </div>
</div>
<div class="main">
  <div class="section text-center" id="details">
  <div class="container" >
    <h2 class="title" >What you can find on TUTORHUB and not at any other place</h2>
      <br/><br/>
      <div class="row"  >
          <div class="col-md-3" >
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-album-2"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">Beautiful people</h4>
                      <p class="description">TUTORHUB offers you a friend, a family not only a tutor in a course</p>

                  </div>
              </div>
          </div>
          <br>
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-bulb-63"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">New Ideas</h4>
                      <p>Get ispired, more creative and more motivated with us</p>

                  </div>
              </div>
          </div>
          <br>
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-chart-bar-32"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">Huge community</h4>
                      <p>You can find on TUTORHUB the largest community to support you in every field </p>

                  </div>
              </div>
          </div>
          <br>
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-sun-fog-29"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">ALWAYS Available</h4>
                      <p>We are always available for you to widen your knowledge</p>

                  </div>
              </div>
          </div>
      </div>

  </div>
</div>

<div class="section section-dark text-center">
  <div class="container">
      <h2 class="title">Let's talk about us</h2>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="#"><img src="/assets/img/clem-onojeghuo-3.jpg" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="#">
                          <div class="author">
                              <h4 class="card-title">Rami Kammoun</h4>
                              <h6 class="card-category">Developer</h6>
                          </div>
                      </a>
                      <p class="card-description text-center">
                      Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                      </p>
                  </div>
                  <div class="card-footer text-center">
                      <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                      <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="#"><img src="/assets/img/joe-gardner-2.jpg" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="#">
                          <div class="author">
                              <h4 class="card-title">Oumaima Kboubi</h4>
                              <h6 class="card-category">Developer</h6>
                          </div>
                      </a>
                      <p class="card-description text-center">
                      A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                      </p>
                  </div>
                  <div class="card-footer text-center">
                      <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                      <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="#"><img src="/assets/img/erik-lucatero-2.jpg" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="#">
                          <div class="author">
                              <h4 class="card-title">Wassime Mekni</h4>
                              <h6 class="card-category">Developer</h6>
                          </div>
                      </a>
                      <p class="card-description text-center">
                      The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                      </p>
                  </div>
                  <div class="card-footer text-center">
                      <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                      <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

</div>
