
 <div class="wrapper" >
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
      <div class="filter " background-color=" #ff806a" style= ></div>
  </div>
  <div class="section profile-content">
      <div class="container">
        <section *ngIf="user!=null ; else loadingspinner" class="section_gap">
          <div class="owner">
              <app-user-profile-image [image]="user.image"></app-user-profile-image>
              <app-user-profile-name [name]="  user.name | titlecase "></app-user-profile-name>
          </div>

          <app-user-profile-email [email]="user.email"></app-user-profile-email>
          <app-user-profile-birthdate [birthdate]="user.birthdate "></app-user-profile-birthdate>
          <app-user-profile-phone [phone]="user.phone"></app-user-profile-phone>

          <div class="row margin-edit"  >
            <div  class="col-6 ml-auto mr-auto text-center">
              <br />
              <a   class="btn btn-danger btn-round"  [routerLink]="['/user/profile/edit']"><i class="fa fa-cog"></i>Edit</a>
            </div>
          </div>
        </section>
          <br/>
      </div>
  </div>
  </div>

<ng-template #loadingspinner>
  <br><br><br>
            <app-loading-spinner></app-loading-spinner>
</ng-template>
