<div class="page-header" data-parallax="true" style="background-image: url('/assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <h1>Welcome Home</h1>
          <h3>Start Your journey as a mentor and enhance your knowledge and life as a user</h3>
          <br />
          <a [routerLink]="[ '/register']" class="btn btn-outline-neutral btn-round"><i class="fa fa-pencil"></i>Register Now</a>
          <a [routerLink]="[ '/aboutus']" class="btn btn-outline-neutral btn-round"><i class="fa fa-search"></i>Learn More About Us</a>
      </div>
  </div>
</div>
<div class="footer register-footer text-center">
  <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> By GL4 INSAT</h6>
</div>
