<!-- <div class="page-header" data-parallax="true" style="background-image: url('/assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <h1>Welcome Home</h1>
          <h3>Start Your journey as a mentor and enhance your knowledge and life as a user</h3>
          <br />
          <a [routerLink]="[ '/register']" class="btn btn-outline-neutral btn-round"><i class="fa fa-pencil"></i>Register Now</a>
          <a [routerLink]="[ '/aboutus']" class="btn btn-outline-neutral btn-round"><i class="fa fa-search"></i>Learn More About Us</a>
      </div>
  </div>
</div> -->


<div class="wrapper">
  <div class="page-header section-dark"  data-parallax="true" style="background-image: url('assets/img/antoine-barres.jpg')">
      <div class="filter"></div>

      <div class="content-center">
          <div class="container">
              <div class="title-brand">

                  <h1 class="presentation-title">TUTORHUB</h1>

                  <div class="fog-low">
                      <img src="assets/img/fog-low.png" alt="">
                  </div>
                  <div class="fog-low right">
                      <img src="assets/img/fog-low.png" alt="">
                  </div>
              </div>

              <h2 class="presentation-subtitle text-center">Your first distination for knowledge and entertainment</h2>


          </div>
          <br>
          <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); ">
          </div>
          <div class="motto text-center">
            <button [routerLink]="[ '/register']" class="btn btn-outline-neutral btn-round"><i class="fa fa-pencil"></i>Register Now</button>
            <a [routerLink]="[ '/aboutus']" class="btn btn-outline-neutral btn-round"><i class="fa fa-search"></i>Learn More About Us</a>
        </div>
      </div>
<br>


      <h6 class=" category-absolute ml-auto mr-auto">We offer you a family, a school, a home and so much more. Start Your journey as a mentor and enhance your knowledge and life as a user</h6>
      <h6 class=" category-absolute ml-auto mr-auto"></h6>

  </div>

