.img {
    display: block;
    width: 100%;
    height: 270px;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.test{
    width: 100%;
}
.text{overflow: hidden;}

.project-wrap {
    margin-bottom: 30px;
    width: 100%;
    min-width: 100%;
    background: #fff;
    box-shadow: 0px 10px 23px -8px rgb(0 0 0 / 11%);
    font-family: "Poppins", Arial, sans-serif;
}
.project-wrap .img .price {
    position: absolute;
    bottom: -8px;
    left: 20px;
    display: inline-block;
    background: #4986fc;
    color: #fff;
    padding: 2px 10px;
    font-size: 16px;
    font-weight: 500;
}

.price:before, .price:after {
    position: absolute;
    bottom: 0;
    content: '';
}

.price:before {
    width: 0;
    left: -8px;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 0;
    border-color: transparent #0456f4 transparent transparent;
}

.project-wrap .img .price:after {
    right: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 0;
    border-color: #0456f4 transparent transparent transparent;
}

h3 a {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.advisor {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}

.advisor span {
    color: #4986fc;
}

ul {
    margin: 0;
    padding: 10px 0 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

ul li {
    display: inline-block;
    color: #b3b3b3;
    font-weight: 600;
}

ul li.price {
    color: #4986fc;
}


